/*
This code was adapted from an open-source project distributed under the MIT license by Raj Gupta
https://codepen.io/rajdgreat007/pen/ZpZWbw
*/
.nav {
  flex: 1;
  text-align: center;
  vertical-align: middle;
  line-height: 10px;
  display: inline;
  list-style-type: none;
  padding: 10px;
}
.nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 20px;
}
.nav ul li a:hover {
  color: rgb(20, 208, 214);
}
#container{
  border:1px solid #0C374D;
  border-radius :20px;
  width:400px;
  margin:20px auto;
  padding:20px;
  text-align:center;
  background : #0C374D;
}

#timer{ 
  color:#ffffff; 
  font-size:50px; 
  margin:10px auto;
  border : 5px solid #ffffff;
  border-radius:50%;
  width:200px;
  height:200px;
  position:relative;
  cursor:default;
}

#time{
  margin-top:70px;
  z-index : 1;
  position:relative;
}

#filler{
  background : #ddffcc;
  height: 0px;
  width: 200px;
  position:absolute;
  bottom:0;
}

#buttons button { 
  background:#43ABC9; 
  border: 1px solid #ffffff; 
  color:#ffffff; 
  cursor:pointer; 
  padding:5px; 
  width:90px; 
  margin:7px;
  font-size:15px;
  height : 50px;
  border-radius : 50px;
}

#buttons button#break{
  background : #A3B86C;
}

#buttons button#stop{
  background : #CD594A;
}

